<div class="container mt-5">
  <div class="row">
    <h4 class="mx-auto">新規会員登録</h4>
  </div>
  <div class="row">
    <div class="mx-auto"><%= render "devise/shared/error_messages", resource: resource %></div>
  </div>
  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <div class="row mt-4">
      <div class="col-4 d-flex mx-auto">
        <%= f.label :name ,class:"devise_label" %>
        <%= f.text_field :name, autofocus: true, class:"form-control-sm" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4 d-flex mx-auto">
        <%= f.label :email,class:"devise_label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control-sm" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4 d-flex mx-auto">
        <%= f.label :password, "パスワード(6文字以上)",class:"devise_label" %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control-sm" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4 d-flex mx-auto">
        <%= f.label :password_confirmation, "パスワード(確認用)",class:"devise_label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control-sm" %>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <%= f.submit "登録", class:"col-1 mx-auto btn-flat-success" %>
    </div>
  <% end %>
  <div class="row mt-3">
    <div class="col-3 mx-auto"><h5 class="ml-4">＜ 既に登録済みの方 ＞</h5></div>
  </div>
  <div class="row mt-2 mb-5">
    <div class="col-12 text-center"><%= render "devise/shared/links" %></div>
  </div>
</div>