<!--サブエリア-->
<div class="sub_area">
  <%= render "users/show", user: @user, clips: @clips %>
</div>

<!--メインエリア-->
<div class="main_area">
  <!--ページヘッド部-->
  <div class="row mt-5">
    <div class="col-12">
      <%= link_to "", share_path(@share.id), class:"fas fa-arrow-circle-left" %>
      <h4>シェアした目標を編集</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-5 mr-5">
      <h5 class="text_wrap"><%= @share.goal.content %></h5>
      <%= form_with model: @share,url: share_path(@share.id), local: true do |f| %>
        <%= render "layouts/errors", obj: @share %>
        <div class="col-12 mt-4">
          <%= f.label :カテゴリ %>
          <%= f.collection_select :category_id, Category.all, :id, :name %>
        </div>
        <div class="col-12 mt-2">
          <%= f.label :MEMO %>
          <%= f.text_area :content, class:"area_form", autofocus: true %>
        </div>
        <div class="col-1 ml-5 mt-2">
          <%= f.submit "編集を保存する", class:"btn btn-success btn-sm ml-4"%>
        </div>
      <% end %>
    </div>

    <!--週ごとタスク一覧-->
    <%= render "layouts/tasks_week", tasks_week: @tasks_week %>

  </div>
</div>




