<div class="user_info">
  <%= render 'users/show', user: @user, clips: @clips %>
</div>
<div class="main_area">
  <div class="row mt-5">
    <div class="col-12">
      <%= link_to "", share_path(@share.id), class:"fas fa-arrow-circle-left" %>
      <h4>シェアした目標を編集</h4>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-5 mr-5">
      <h5><%= @share.goal.content %></h5>
      <%= form_with model: @share,url: share_path(@share.id), local: true do |f| %>
        <%= render "layouts/errors", obj: @share %>
        <div class="col-12 mt-4">
          <%= f.label :カテゴリ %>
          <%= f.collection_select :category_id, Category.all, :id, :name %>
        </div>
        <div class="col-12 mt-2">
          <%= f.label :MEMO %>
          <%= f.text_area :content, class:"area_form" %>
        </div>
        <div class="col-1 ml-5 mt-2">
          <%= f.submit '編集を保存する', class:"btn-flat-success ml-4"%>
        </div>
      <% end %>
    </div>

    <div class="col-2 week_area ml-5">
      <!--曜日の配列取得-->
      <% week_name=["sun","mon","tue","wed","thu","fri","sat"] %>

      <ul class="week_tab">
        <% week_name.each do |name|  %>
          <li><a href="#<%= name %>" class="<%= name %>"><%= name %></a></li>
        <% end %>
      </ul>

      <% 7.times do |i| %>
        <div id="<%= week_name[i] %>" class="area">
          <%= render 'goals/tasks_week', tasks: @tasks_week[i], week_name: week_name[i] %>
        </div>
      <% end %>
    </div>
  </div>
</div>




