<!--サブエリア-->
<div class="sub_area">
  <%= render 'users/show', user: @user, clips: @clips %>
</div>

<!--メインエリア-->
<div class="main_area">
  <!--ページヘッド部-->
  <div class="row mt-4">
    <div class="col-12">
      <%= form_with(url: shares_path, method: :get, enforce_utf8: false,class:"d-flex align-items-center", local: true) do |f| %>
        <%= f.collection_select :search_category, Category.all, :id, :name, :include_blank => "カテゴリを選択",:selected => @category %>
        <%= f.check_box :search_status,class:"ml-4 form-check-inline",id:"search_status" %>
        <%= f.label :達成済みのみ表示, for:"search_status" %>
        <%= f.check_box :search_sort,class:"ml-4 form-check-inline",id:"search_sort" %>
        <%= f.label :クリップが多い順, for:"search_sort" %>
        <%= f.text_field :search_word,class:"ml-4 form-control-sm",value: @word %>
        <%= f.button :type => "submit", class:"btn" do %>
          <i class="fas fa-search search_form_icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="share_area">
      <div class="share_area_inside">
        <div class="col-12 d-flex flex-wrap align-content-around">
          <% @shares.each do |share| %>
            <div class="share_block ml-3 mr-2 mt-2 mb-2">
              <div class="share_item">
                <%= link_to "",share_path(share.id),class:"share_link"%>
                <div>
                  <% if share.goal.status %>
                    <i class="fas fa-medal share_complete"></i>
                  <% end %>
                </div>
                <div class="text-center">
                  <%= attachment_image_tag share.user, :user_image, :fill, 60, 60, format:"jpeg", fallback:"no_image.jpeg",class:"icon_img" %>
                </div>
                <div class="text-center share_text">
                  <%= share.user.name %>
                </div>
                <div class="text-center share_text">
                  <%= share.goal.content %>
                </div>
                <div class="text-center">
                  [<%= share.category.name %>]
                </div>
                <div class="text-center">
                  <p class="fas fa-paperclip"></p>
                  <%= share.clips.count %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
