<div class="container">

  <div class="row mt-5">
    <div class="col-5">
      <h2>この目標をシェアする</h2>
      <h3><%= @goal.content %></h3>
      <%= form_with model: @share,url: goal_shares_path(@goal.id), local: true do |f| %>
        <%= render "layouts/errors", obj: @share %>
        <div class="mt-3">
          <%= f.label :カテゴリ %>
          <%= f.collection_select :category_id, Category.all, :id, :name %>
        </div>
        <div>
          <%= f.label :MEMO %>
          <%= f.text_area :content, class:"area_form" %>
        </div>
        <div>
          <%= f.submit 'この目標をシェア', class:"btn-flat-success ml-4"%>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <!--曜日の配列取得-->
      <% week_name=["sun","mon","tue","wed","thu","fri","sat"] %>
      <ul class="week_tab">
        <% week_name.each do |name|  %>
          <li><a href="#<%= name %>" class="<%= name %>"><%= name %></a></li>
        <% end %>
      </ul>

      <% 7.times do |i| %>
        <div id="<%= week_name[i] %>" class="area">
          <%= render 'goals/tasks_week', tasks: @tasks_week[i], week_name: week_name[i] %>
        </div>
      <% end %>

    </div>
  </div>
</div>
