<div class="container">

  <div class="row mt-5">
    <div class="col-5">
      <div class="d-flex align-items-center">
      <h2><%= @share.goal.content %></h2>
        <div class="ml-2">
          <% if @share.user_id == current_user.id %>
            <%= link_to "", edit_share_path(@share.id),class:"fas fa-edit" %>
            <%= link_to "", share_path(@share.id),class:"fas fa-trash-alt" %>
          <% else %>
            <%= render 'clips/clip', share: @share %>
            <%= link_to "", copy_goal_path(@share.goal_id), class:"fas fa-copy",method: :post %>
          <% end %>
        </div>
      </div>
      <p><%= @share.category.name %></p>
      <pre><%= @share.content %></pre>
    </div>
    <div class="col-6">
      <!--曜日の配列取得-->
      <% week_name=["sun","mon","tue","wed","thu","fri","sat"] %>
      <ul class="week_tab">
        <% week_name.each do |name|  %>
          <li><a href="#<%= name %>" class="<%= name %>"><%= name %></a></li>
        <% end %>
      </ul>

      <% 7.times do |i| %>
        <div id="<%= week_name[i] %>" class="area">
          <%= render 'goals/tasks_week', tasks: @tasks_week[i], week_name: week_name[i] %>
        </div>
      <% end %>

    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2 mx-auto ">
    <%= link_to "一覧に戻る", shares_path, class:"btn-flat-primary" %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="task_modal_window"></div>
  </div>

</div>
