<!--サブエリア-->
<div class="sub_area">
  <%= render 'users/show', user: @user, clips: @clips %>
</div>

<!--メインエリア-->
<div class="main_area">
  <!--ページヘッド部-->
  <div class="row mt-4">
    <div class="col-12 mr-5">
      <%= link_to "", shares_path, class:"fas fa-arrow-circle-left" %>
      <div class="col-12 d-flex align-items-center">
        <h4 class="mr-2"><%= @share.goal.content %></h4>
        <% if @share.user_id == current_user.id %>
          <%= link_to "", edit_share_path(@share.id),class:"fas fa-edit" %>
          <%= link_to "", share_path(@share.id),class:"fas fa-trash-alt ml-2",method: :delete %>
        <% else %>
          <%= render 'clips/clip', share: @share %>
          <%= link_to "", copy_goal_path(@share.goal_id), class:"fas fa-copy ml-2",method: :post %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-5">

    <!--Memoエリア-->
    <div class="col-5 mr-5">
      <div class="sticky_memo_area ml-3">
        <%= render 'layouts/sticky', hole: 17, sel: "memo" %>
        <p class="sticky_memo_category"><%= @share.category.name %></p>
        <pre class="sticky_memo_body"><%= @share.content %></pre>
      </div>
    </div>

    <!--週ごとタスク一覧-->
    <%= render 'layouts/tasks_week', tasks_week: @tasks_week %>

  </div>
</div>
