<div class="modal_display">
  <div class="text-right ml-5">
    <a class="modal_display_close fas fa-times-circle"></a>
  </div>

  <div class="row">
    <%= form_with model: task,url: goal_task_path(goal.id,task), remote: true do |f| %>
      <h4 class="col-11 ml-2">タスクを編集する</h4>
      <p class="modal_display_error col-10 ml-3"><i class="fas fa-exclamation-circle"></i>タスクを入力してください</p>
      <div class="col-12 mt-4 ml-3">
        <%= f.text_field :content, class:"content_form form-control-sm",size:"40" %>
        <%= f.button type: "submit", class:"btn modal_display_btn" do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <%= link_to "", goal_task_path(goal.id,task.id),class:"fas fa-trash-alt",method: :delete %>
      </div>
      <div class="col-12 d-flex justify-content-around">
        <% weeks=["sun", "mon", "tue", "wed", "thu", "fri", "stu"] %>
        <% weeks_jp=["日", "月", "火", "水", "木", "金", "土"] %>
        <% weeks.each_with_index do |week, i| %>
          <div>
            <%= f.check_box :"#{week}", id:"check_#{week}"%>
            <%= f.label :"#{weeks_jp[i]}", for:"check_#{week}"%>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!--マスク-->
<div class="mask_display"></div>

