<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <%= form_with(url: helps_path, method: :get, enforce_utf8: false,class:"d-flex justify-content-end", local: true) do |f| %>
        <%= f.text_field :search_word , class:"search_form_text" %>
        <%= f.button :type => "submit" do %>
          <i class="fas fa-search search_form_icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <h2>ヘルプ</h2>
        <ul class="accordion-area">
          <% @helps.each do |help| %>
            <li>
              <section>
                <h3 class="title"><%= help.title %></h3>
                <div class="box">
                  <p><%= help.body %></p>
                </div>
              </section>
           </li>
         <% end %>
       </ul>
    </div>
  </div>
