<!--サブエリア-->
<div class="sub_area">
  <%= render 'users/show', user: @user, clips: @clips %>
</div>

<!--メインエリア-->
<div class="main_area">
  <!--ページヘッド部-->
  <div class="row mt-5">
    <div class="col-12">
      <%= form_with(url: helps_path, method: :get, enforce_utf8: false,class:"d-flex justify-content-end search", local: true) do |f| %>
        <%= f.text_field :search_word , class:"search_text" %>
        <%= f.button :type => "submit", class:"search_btn" do %>
          <i class="fas fa-search search_form_icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row mt-3">
    <h4 class="col-8 mx-auto">ヘルプ</h4>
  </div>
  <div class="row mt-3">
    <div class="col-8 mx-auto">
      <ul class="accordion-area">
        <% @helps.each do |help| %>
          <li>
            <section>
              <h3 class="title"><%= help.title %></h3>
              <div class="box">
                <p><%= help.body %></p>
              </div>
            </section>
          </li>
        <% end %>
        <%= paginate @helps %>
      </ul>
    </div>
  </div>
</div>
