<div class="container mt-5">
  <div class="row">
    <h4 class=" mx-auto">ログイン</h4>
  </div>
  <div class="row">
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  <%= form_with model: @user, url: user_session_path, class:"contact-form" , local: true do |f| %>
    <div class="row mt-5">
      <div class="col-4 d-flex mx-auto">
        <%= f.label :email , style:"width:200px" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control-sm" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4 d-flex mx-auto">
        <%= f.label :password , style:"width:200px" %>
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control-sm" %>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <%= f.submit "ログイン", class:"col-1 mx-auto btn-flat-success" %>
    </div>
  <% end %>
  <div class="row mt-5">
    <div class="col-4 mx-auto"><h5 class="ml-4">＜ 会員登録がお済みでない方 ＞</h5></div>
  </div>
  <div class="row mt-2 mb-5">
    <div class="col-12 text-center"><%= render "devise/shared/links" %></div>
  </div>
</div>