<%= content_tag "tr", id: "goal-#{goal.id}", class: "item", data: { model_name: goal.class.name.underscore, update_url: goal_sort_path(goal)} do %>
         <td><%= link_to goal.content, goal_path(goal.id), class:'link_animation' %></td>
            <td><%= link_to "", copy_goal_path(goal.id), class:"fas fa-copy",method: :post %></td>
            <td>
              <% if goal.share %>
                <%= link_to "シェアした内容を編集する", edit_share_path(goal.share.id), class:"btn-flat-success ml-4" %>
              <% else %>
                <%= link_to "この目標をシェアする", new_goal_share_path(goal.id), class:"btn-flat-success ml-4" %>
              <% end %>
            </td>
   <% end %>