
<div class="container">

<%= form_with model: @goal,url: goal_path(@goal), local: true do |f| %>
  <%= render "layouts/error", obj: @goal %>

    <div class="row mt-5">
      <div class="col-6 mx-auto col-lg-5 form-field d-flex ">
        <%= f.text_field :content, size:"60" %>
        <%= f.submit '更新', class:"ml-2 btn-flat-success"%>
      </div>
    </div>


<% end %>

    <%= render 'goals/tasks', tasks: @tasks %>
<a class="task_modal_open btn-flat-primary">新しいタスク</a>

<%= render 'goals/modal' %>
<div class="task_modal_window"
  <%= link_to "戻る", goals_path %>



</div>