<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <%= link_to "よくある質問", helps_path,class:"far fa-question-circle d-flex justify-content-end" %>
    </div>
  </div>

  <div class="row mt-5">
    <!--ユーザー情報-->
    <%= render 'users/show', user: @user, clips: @clips %>

    <!--自分が設定した目標-->
    <div class="col-4 ml-1">
      <h4>目標 <%= link_to "", new_goal_path, class: 'fas fa-plus-circle' %></h4>
        <div class="item-container0 item_parent" id="sortable_task_0" value="0">
        <% @goals.each do |goal| %>
          <div class="draggable-item">
            <div class="item d-flex align-content-center" value=<%= goal.id %>>
              <%= link_to goal.content, goal_path(goal.id), class:'link_animation' %>
              <%= link_to "", copy_goal_path(goal.id), class:"ml-2 fas fa-copy",method: :post %>
              <% if goal.share %>
                <%= link_to "", edit_share_path(goal.share.id), class:"ml-2 fas fa-share-alt-square" %>
              <% else %>
                <%= link_to "", new_goal_share_path(goal.id), class:"ml-2 fas fa-share-alt-square" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4 ml-1">
      <h4>達成した目標</h4>
      <div class="item-container1 item_parent" id="sortable_task_1" value="1">
        <% @completes.each do |complete| %>
          <div class="draggable-item">
            <div class="item d-flex align-content-center" value=<%= complete.id %>>
            <%= link_to complete.content, goal_path(complete.id), class:'link_animation' %>
            <%= link_to "", copy_goal_path(complete.id), class:"ml-2 fas fa-copy",method: :post %>
            <% if complete.share %>
              <%= link_to "", edit_share_path(complete.share.id), class:"ml-2 fas fa-share-alt-square" %>
            <% else %>
              <%= link_to "", new_goal_share_path(complete.id), class:"ml-2 fas fa-share-alt-square" %>
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>


  </div>

</div>

<script>
  // ドラッグ&ドロップ機能 (sortable.js)

</script>
