<div class="container mb-5">
  <div class="row">
    <div class="col-12">
      <%= link_to "よくある質問", helps_path,class:"far fa-question-circle d-flex justify-content-end" %>
    </div>
  </div>

  <div class="row mt-5">
    <!--ユーザー情報-->
    <%= render 'users/show', user: @user, clips: @clips %>

    <!--自分が設定した目標-->
    <div class="col-6 ml-1">
      <h4>目標 <%= link_to "", new_goal_path, class: 'fas fa-plus-circle' %></h4>
      <table>
        <% @goals.each do |goal| %>
          <tr>
            <% if goal.status == true %>
              <td class="fas fa-trophy"></td>
            <% end %>
            <td><%= link_to goal.content, goal_path(goal.id), class:'link_animation' %></td>
            <td><%= link_to "", copy_goal_path(goal.id), class:"fas fa-copy",method: :post %></td>
            <td>
              <% if goal.share %>
                <%= link_to "シェアした内容を編集する", edit_share_path(goal.share.id), class:"btn-flat-success ml-4" %>
              <% else %>
                <%= link_to "この目標をシェアする", new_goal_share_path(goal.id), class:"btn-flat-success ml-4" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= paginate @goals %>
    </div>
  </div>

</div>