<!--サブエリア-->
<div class="sub_area">
  <%= render "users/show", user: @user, clips: @clips %>
</div>

<!--メインエリア-->
<div class="main_area">
  <!--ページヘッド部-->
  <div class="row d-flex justify-content-between">
    <h4 class="col-4">ＭｙＰａｇｅ</h4>
    <div class="col-3">
      <%= link_to "よくある質問", helps_path,class:"far fa-question-circle link" %>
    </div>
  </div>

  <!--目標一覧-->
  <div class="row mt-5">
    <div class="note_block d-flex ml-5">
      <div class="note_box ml-1">
        <h5 class="goal ml-3">目標 <%= link_to "", new_goal_path, class: "fas fa-plus-circle" %></h5>
        <div class="note_area ml-4" id="sortable_goal_0">
          <% @goals.each do |goal| %>
            <div class="draggable-item goal_0 d-flex align-items-center mb-1 point" value=<%= goal.id %>>
              <%= link_to goal.content, goal_path(goal.id), class:"link text_wrap" %>
              <span class="user_tooltip" data-toggle="tooltip" data-placement="top" title="コピーする"　 data-delay="500">
             　  <%= link_to "", copy_goal_path(goal.id), class:"ml-2 fas fa-copy",method: :post %>
              </span>
              <% if goal.share %>
                <span class="user_tooltip" data-toggle="tooltip" data-placement="top" title="シェアの編集"　 data-delay="500">
                  <%= link_to "", edit_share_path(goal.share.id), class:"ml-2 fas fa-share-alt-square" %>
                </span>
              <% else %>
                <span class="user_tooltip" data-toggle="tooltip" data-placement="top" title="シェアする"　 data-delay="500">
                  <%= link_to "", new_goal_share_path(goal.id), class:"ml-2 fas fa-share-alt-square" %>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="ml-4 note_box">
        <h5 class="complete ml-3">達成</h5>
        <div class="note_area ml-4" id="sortable_goal_1">
          <% @completes.each do |complete| %>
            <div class="draggable-item goal_1 d-flex align-items-center mb-1 point" value=<%= complete.id %>>
              <%= link_to complete.content, goal_path(complete.id), class:"link text_wrap" %>
              <span class="user_tooltip" data-toggle="tooltip" data-placement="top" title="コピーする"　 data-delay="500">
                <%= link_to "", copy_goal_path(complete.id), class:"ml-2 fas fa-copy",method: :post %>
              </span>
              <% if complete.share %>
                <span class="user_tooltip" data-toggle="tooltip" data-placement="top" title="シェアの編集"　 data-delay="500">
                  <%= link_to "", edit_share_path(complete.share.id), class:"ml-2 fas fa-share-alt-square" %>
                </span>
              <% else %>
                <span class="user_tooltip" data-toggle="tooltip" data-placement="top" title="シェアする"　 data-delay="500">
                  <%= link_to "", new_goal_share_path(complete.id), class:"ml-2 fas fa-share-alt-square" %>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
