<div class="container">
  <div class="row mt-5 mb-5"></div>
  <div class="row mt-5">
    <div class="col-4 mx-auto">
      <h4>最初の目標を決めましょう</h4>
      <div><%= render "layouts/errors", obj: @goal %></div>
    </div>
  </div>

  <%= form_with model: @goal,url: init_create_goals_path, local: true do |f| %>
    <div class="row mt-5">
      <div class="col-5 mx-auto">
        <%= f.text_field :content, size:"40",class:"form-control-lg" %>
      </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-4"></div>
      <div class="col-2"><%= link_to "スキップ", goals_path, class:"btn-flat-primary" %></div>
      <div class="col-2  offset-1"><%= f.submit "決定", class:"btn-flat-success" %></div>
    </div>
  <% end %>

</div>