<!DOCTYPE html>
<html>
  <head>
    <title>Fulfill</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <script src="https://kit.fontawesome.com/3d20b9dd2f.js " crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav">
      <!--<nav class="flex">-->
        <a href="/"><%= image_tag "logo.jpg", class:"main_logo" %></a>
        <ul class="main_menu">
          <% if user_signed_in? %>
            <li class="nav_item">
              <%= link_to current_user.name, edit_user_registration_path,class: 'nav_link' %>
            </li>
            <li class="nav_item">
              <%= link_to "マイページ", goals_path, class: 'nav_link' %>
            </li>
            <li class="nav_item">
              <%= link_to "Share", shares_path, class: 'nav_link' %>
            </li>
            <li class="nav_item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav_link' %>
            </li>
          <% else %>
            <li class="nav_item">
              <%= link_to "Fulfill!って？", about_path, class: 'nav_link' %>
            </li>
            <li class="nav_item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav_link' %>
            </li>
            <li class="nav_item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav_link' %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container">
        <div class="row">
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>
          <% if flash[:notice] %>
            <p class="flash"><%= flash[:notice]%></p>
          <% end %>
        </div>
      </div>

      <div class="full_area">
        <%= yield %>
      </div>
    </main>


    <footer class="foot">
      <p class="copyright">CopyRight pukuku</p>
    </footer>

  </body>

</html>

